.description {
  width: 100%;
  overflow-x: hidden;

  &__wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 99px;

    @media (max-width: 1024px) {
      padding: 99px 24px 20px 24px;
    }

    @media (max-width: 600px) {
      padding-top: 40px;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 55px;
    max-width: 93%;

    @media (max-width: 600px) {
      margin-bottom: 40px;
      text-align: left;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: unset;
    }

    .content-left {
      padding-top: 50px;

      @media (max-width: 600px) {
        padding-top: 0;
      }

      .content-title {
        font-size: 44px;
        line-height: 56px;
        margin-bottom: 24px;
        max-width: 93%;
        font-family: $ff-medium;
        color: $gray-900;

        @media (max-width: 600px) {
          font-size: 24px;
          line-height: 30px;
        }

        span {
          color: $secondary-bg-color;
        }
      }

      .content-desc {
        font-size: 22px;
        line-height: 32px;
        max-width: 520px;
        font-family: $ff-bock;
        color: $secondary-text-color;

        @media (max-width: 768px) {
          max-width: 100%;
        }

        @media (max-width: 600px) {
          font-size: 16px;
          line-height: 20px;
        }

        p:first-child {
          margin-bottom: 24px;
        }
      }
    }

    .content-right {
      position: relative;

      .web {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: contain;

        @media (max-width: 600px) {
          display: none;
        }
      }

      .mobile {
        display: none;

        @media (max-width: 600px) {
          margin-top: 45px;
          display: block;
        }
      }

      img {
        position: relative;
        display: block;
        max-width: 115%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.quote {
  text-align: center;
  width: 100%;
  color: $primary-text-color;
  border-radius: 24px;
  padding: 32px 0;
  margin-top: 83px;

  &.web {
    display: block;
    background-image: url("/assets/images/quote.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 77px 0;

    .quote__wrapper {
      max-width: 1320px;
      margin: 0 auto;
      position: relative;
    }

    img {
      position: absolute;

      &:first-child {
        left: 0;
        top: -140%;

        @media (max-width: 1024px) {
          left: 25px;
        }
      }

      &:last-child {
        right: 0;
        bottom: -140%;

        @media (max-width: 1024px) {
          right: 25px;
        }
      }
    }

    .quote-text {
      color: $gray-900;
    }

    .quote-subtext {
      color: #2971f0;

      span {
        color: $gray-900;
      }
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &.mobile {
    display: none;
    background-color: $secondary-bg-color;

    @media (max-width: 600px) {
      display: block;
    }
  }

  @media (max-width: 600px) {
    padding: 16px 0;
  }

  &-text {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
    font-family: $ff-bock;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 2px;
    }
  }

  &-subtext {
    font-size: 32px;
    line-height: 32px;
    font-family: $ff-mediumItalic;

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
