.flow {
  background-color: rgba(255, 109, 3, 0.06);
  overflow-x: hidden;

  &__wrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 171px 24px;

    @media (max-width: 600px) {
      padding: 40px 24px;
    }
  }

  .title {
    color: $secondary-bg-color;
    margin-bottom: 24px;
    text-align: center;
    opacity: 1;
  }

  .desc {
    font-size: 22px;
    line-height: 32px;
    color: $secondary-text-color;
    text-align: center;
    opacity: 1;
    margin-bottom: 84px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  .diagram {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      padding: 0 24px;
    }

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .step {
    img {
      width: 100%;
    }

    .text {
      color: $gray-900;
      font-size: 22px;
      line-height: 28px;
      font-family: $ff-medium;
      text-align: center;
      padding-top: 24px;
      height: 50px;

      @media (max-width: 900px) {
        position: relative;
        top: -67px;
        z-index: 10;
        font-size: 15px;
      }
    }
  }

  .process {
    position: relative;
    width: 268px;

    @media (max-width: 900px) {
      height: 155px;
    }

    img {
      position: relative;
      display: block;
      object-fit: scale-down;
      height: auto;

      &:first-child {
        top: 4px;
        width: 111%;
        left: -15px;

        @media (max-width: 890px) {
          top: 4px;
        }

        @media (max-width: 900px) {
          width: 115%;
          transform: rotate(90deg);
          top: 16px;
          left: -20px;
        }
      }

      &:last-child {
        max-width: 100%;
        top: -44px;
        left: 70px;

        @media (max-width: 1130px) {
          top: -42px;
          left: 62px;
          max-width: 100%;
          width: 50%;
        }

        @media (max-width: 1024px) {
          top: -34px;
          left: 50px;
        }

        @media (max-width: 910px) {
          top: -30px;
          left: 28%;
        }
      }
    }
  }
}
