.footer {
  margin-top: 64px;
  padding-bottom: 26px;

  @media (max-width: 830px) {
    margin-top: 40px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    padding: 0 24px;

    @media (max-width: 1024px) {
      padding: 0 24px;
    }

    @media (max-width: 830px) {
      display: flex;
      flex-direction: column;
    }
  }

  .logo {
    height: 100%;
    grid-column: 1 / span 2;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      display: block;

      @media (max-width: 830px) {
        max-width: 120px;
      }
    }
  }

  .items {
    grid-column: 3 / span 8;
    padding-left: 30px;
    padding-right: 30px;
    color: $gray-900;

    @media (max-width: 830px) {
      padding-left: 0;
      margin-top: 16px;
    }

    > div {
      display: flex;

      img {
        margin-right: 12px;
        height: 100%;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        color: $gray-900;
        font-family: $ff-bock;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &:last-child {
        @media (max-width: 830px) {
          display: none;
        }
      }
    }
  }

  .link {
    grid-column: 11 / span 2;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 5px;

    @media (max-width: 830px) {
      padding-left: 0;
      padding-top: 0;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 32px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      color: $gray-900;
      padding-top: 10px;
      margin-right: 16px;
      margin-bottom: 8px;
      font-family: $ff-bock;

      @media (max-width: 950px) {
        margin-right: 0;
      }

      @media (max-width: 830px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    img {
      object-fit: scale-down;
      margin-right: 12px;
    }
  }

  .copy-right {
    display: none;
    color: $gray-900;

    @media (max-width: 830px) {
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      margin: 32px auto 0 auto;
      display: block;
      font-family: $ff-bock;
    }
  }
}
