.trial {
  margin-top: 180px;
  background-image: url("/assets/images/trial-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.web {
    display: block;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &.mobile {
    display: none;
    margin-top: 0;

    .trial__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 32px 24px 0 24px;

      @media (max-width: 400px) {
        justify-content: space-between;
      }

      .image-box {
        display: flex;
        justify-content: space-around;
        width: 100%;

        img {
          padding-right: 0;
          max-width: 158px;

          @media (max-width: 370px) {
            max-width: 130px;
          }
          height: auto;
        }
      }

      .container {
        .title {
          transform: translateY(25px);
        }
      }
    }

    @media (max-width: 600px) {
      display: block;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
    position: relative;
    z-index: 10;

    @media (max-width: 1024px) {
      padding: 100px 24px 0 24px;
    }

    > img {
      padding-top: 15px;
      height: 100%;

      @media (max-width: 600px) {
        padding-top: 0;
        max-width: 93px;
        height: 100%;
      }
    }
  }

  .container {
    text-align: center;
    padding-left: 54px;

    @media (max-width: 1024px) {
      padding-left: 0;
    }

    @media (max-width: 650px) {
      padding-left: 20px;
    }

    @media (max-width: 400px) {
      padding-left: 0;
    }

    .title {
      margin-bottom: 56px;
      color: $gray-900;

      @media (max-width: 600px) {
        font-size: 32px;
        line-height: 40px;
        text-align: right;
        padding-left: 0;
      }

      @media (max-width: 370px) {
        font-size: 24px;
      }
    }
  }

  .image-box {
    padding-bottom: 100px;

    @media (max-width: 650px) {
      display: flex;
    }

    @media (max-width: 600px) {
      padding-bottom: 32px;
      padding-top: 23px;
    }

    img {
      max-width: 216px;
      height: auto;

      &:first-child {
        padding-right: 20px;
      }
    }
  }
}
