@font-face {
  font-family: circularBold;
  src: url("/fonts/circular/AnyConv.com__CircularStd-Bold.ttf");
}

@font-face {
  font-family: circularMedium;
  src: url("/fonts/circular/AnyConv.com__CircularStd-Medium.ttf");
}

@font-face {
  font-family: circularMediumItalic;
  src: url("/fonts/circular/AnyConv.com__CircularStd-MediumItalic.ttf");
}

@font-face {
  font-family: circularBook;
  src: url("/fonts/circular/AnyConv.com__CircularStd-Book.ttf");
}

// Colors
$primary-color: #2995f0;
$secondary-color: #ffb700;

$primary-text-color: #fff;
$secondary-text-color: #4a5568;
$custom-text-color: #ffb700;
$gray-900: #1a202c;
$gray-800: #2d3748;
$gray-600: #718096;

$primary-bg-color: #fff;
$secondary-bg-color: #ff6d03;

$border-bottom-color: #edf2f7;

// Fonts
$ff-bold: circularBold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$ff-medium: circularMedium, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$ff-mediumItalic: circularMediumItalic, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$ff-bock: circularBook, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
